@media only screen and (max-width: 600px) {
    html{
        width: 500px;
        margin:auto;
        color:#404040;
    }
    #main-content{
        width:400px;
        height: 300px;
        grid-template-columns:repeat(auto-fit, 2fr);
        grid-template-rows: repeat(auto-fit, 0.5fr) ;
        grid-template-areas: "hd "
                         "recent "
                         "trip"
                         "subs"
                         "popular"
                         "india "
                         "trend "
                        
                         ;
        
        
    }
  }