* {
    font-family: acumin-pro, sans-serif;
}
.component-text{
    padding-top: 7px;
}

.recent-content-list li{
    list-style-type: none;
}

.recent-content-list{
    
    margin-top:50px;
    width:100%;

}

#public-full-list{
    margin-bottom: 75px;
}

#word-full-list{
    float: right;
    list-style-type:none;
    font-size: smaller;
    color:rgb(165, 164, 164);
    font-size: 12px;
    opacity: 80%;
    
}

#word-public{
    float: left;
    list-style-type:disc;
    font-size: 25px;
    
}

#word-public-trend::marker{
    color:#5CB1C6;
}

#madag-text{
    font-size: 15px;
    padding-right: 15px;
}

#off-road{
    font-size: 19px;
    padding: 3px 0 8px 0;
}
#reviews{
    font-size: small;
    color:rgb(165, 164, 164);
    font-size: 12px;
    opacity: 80%;
}


#img-recent{
    float: left;
    padding-right:50px;
    width: 145px;
    height: 145px;
    background-image: url('./images/off-road.svg');
    background-size: cover;
    margin-top: -10px;
    margin-left: -45px;
    margin-right: 20px;
}

#img1-recent{
    float: left;
    padding-right:50px;
    width: 145px;
    height: 145px;
    background-image: url('./images/architect.svg');
    background-size: cover;
    margin-top: -10px;
    margin-left: -45px;
    margin-right: 20px;
}

#img2-recent{
    float: left;
    padding-right:50px;
    width: 145px;
    height: 145px;
    background-image: url('./images/iceland.svg');
    background-size: cover;
    margin-top: -10px;
    margin-left: -45px;
    margin-right: 20px;
}

.main-recent {
    padding:20px 30px 20px 30px;
    background-color:rgb(255, 253, 253) ;
    height: auto;
    width: auto;
    margin-left:20px;

};

.word-featured{
    opacity:50%;
    color: #F0F0F0;
    margin-bottom:0px;
};

.word-published{
    color:#F0F0F0;
    font-size: 12px;
    opacity: 50%;
};



