
.component-text{
    list-style-type: none;
}

.component-text ul{
    padding-left:0px;
    padding-bottom: 14px;
    

}

#popular-full-list{
    padding-bottom: 20px;
}
#popular-full-list ul{
    padding-left:0px ;
}

#word-full-list{
    float: right;
    list-style-type:none;
    font-size: smaller;
    color:rgb(165, 164, 164);
    font-size: 12px;
    opacity: 0.8;
    
}

#word-popular{
    float: left;
    list-style-type:disc;
    font-size: 25px;
    margin-left: 25px;
}
#word-popular::marker{
    color:#5CB1C6;
}

#madag-text{
    font-size: 15px;
    padding-right: 15px;
}

#off-road{
    font-size: 19px;
    padding: 3px 0 8px 0;
}
#reviews{
    font-size: small;
    color:rgb(165, 164, 164);
    font-size: 12px;
    opacity: 0.8;
}

.main-popular {
    padding:20px 30px 0px 0px;
    background-color:rgb(255, 253, 253) ;
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 9px;
}





