.pic-list{
    margin-bottom: 0;
    margin-top: 20px;
    padding-left: 20px;
}

.pic-list li{
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: -20px;
}



.big-pic{
    background-size: cover;
    background-image: url('./images/big-pic.png'); 
    background-repeat: no-repeat;
    grid-area: bigpic;
    width:604px;
    height: 477px;
    margin-left: -2rem;
    margin-top: -10px;
    position: relative;
}
.india-text{
    bottom: 0;
    left: 50px;
    position: absolute;
    margin:0 30px 50px 0;
}


.photo-mem{
    opacity:0.5;
    color: #F0F0F0;
    font-size: 15px;
    margin:0;
}

#album{
    color:#F0F0F0;
    opacity: 0.8;
    font-size: 15px;
    margin:0;
}

.h1{
    font-weight:400;
    color:#F0F0F0;
    margin:0;
    font-size: 32px;
}

.main-india {
    border-radius: 9px;
    padding:0px 30px 0px 30px; 
    background-color:rgb(255, 253, 253) ;
    height: 490px;
    width: 91%;
    margin-left:20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 265px);
    grid-template-rows: repeat(3, 163px);
    grid-template-areas: "pic bigpic bigpic"
                         "pic bigpic bigpic" 
                         "pic bigpic bigpic"
                         ;
}


